@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

body {
  font-family: "Poppins", sans-serif;
}
* {
  list-style: none;
  box-sizing: border-box;
}
/* .carousel-item {
  height: 100vh;
  min-height: 300px;
  background: none repeat scroll center scroll;
  -webkit-background-size: cover;
  background-size: cover; 
} */
/* .carousel-item::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #000;
  opacity: 0.5;
} */
.caption-title {
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #ffffff;
}
.caption-para {
  font-weight: 300;
  font-size: 16px;
  line-height: 24px;
  color: #ffffff;
}
.price-title {
  font-size: 30px;
  color: #231d4f;
}

.offer-card {
  background: #3f87f5;
  box-shadow: 0px 42px 34px rgba(63, 135, 245, 0.25);
  border-radius: 26px;
  position: relative;
}
.hot-offer::before {
  content: "Hot";
  position: absolute;
  top: -14px;
  right: 17px;
  width: 46px;
  display: flex;
  color: white;
  justify-content: center;
  align-items: center;
  height: 27px;
  font-size: 13px;
  background: #ff4e4e;
  border-radius: 13.5px;
}
